body{
  margin: 0;
  padding: 0;
  background-color: #fff;
  /*данное свойство сглаживает шрифты*/
  /* -webkit-font-smoothing: antialiased;
  font-family: 'Montserrat', sans-serif; */
  font-size: 14px;
  font-weight: 400;
  color: #000;
}
h1,h2,h3,h4,h5,h6,p{
  padding: 0;
  margin: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

.container {
  width: 80%;
  max-width: 1400px;
  height: 750px;

  margin: 0px auto 0;

  position: relative;
}

.container__btns {
  width: 100%;
  height: 54px;
  background-color: red;
}

.testName:hover {
  cursor: pointer;
  color: #0e4380;
}

.ButtonsGroup__container {
  display: flex;
}
/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
